.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.header__list{
    display: flex;
    list-style: none;
    gap: 18px;
    height: 48px;
    align-items: center;
    border-radius: 16px;
    padding: 0 20px;
    background: rgba(28, 26, 25);
}
.tooltip{
    position: absolute;
    color: white;
}
